.reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(rgb(166, 159, 255), rgb(214, 214, 214));
}

.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35em;
  height: 210vh;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 30px;
  justify-content: center;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}
.input-container1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}
.input-container1 label {
  margin-top: 10px;
  font-size: 20px;
}
.input-container1 input[type="date"] {
  height: 1.5em;
  width: 15em;
  border-radius: 15px;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  font-size: 20px;
  margin-top: 5px;
}

.input-container1 input[type="date"]:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 16px rgb(125, 115, 255);
  outline: none;
}
.input-container1 input {
  height: 1.5em;
  width: 15em;
  border-radius: 15px;
  border-width: 15px;
  border: white;
  box-shadow: 0 0 6px rgb(166, 159, 255);
  outline: none;
  padding: 10px;
  font-size: 20px;
}

.pincontainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.pincontainer input {
  height: 1.5em;
  width: 15em;
  border-radius: 15px;
  border-width: 15px;
  border: white;
  box-shadow: 0 0 6px rgb(166, 159, 255);
  outline: none;
  padding: 10px;
  font-size: 20px;
}

.pincontainer label {
  margin-top: 30px;
  font-size: 20px;
}

input::placeholder {
  font-size: 15px;
}
input:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 16px rgb(125, 115, 255);
  outline: 0 none;
}

select:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 16px rgb(125, 115, 255);
  outline: 0 none;
}

.mb-3 textarea.form-control:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 16px rgb(125, 115, 255);
  outline: 0 none;
}
label.radio {
  font-size: 20px;
}
.form-label {
  font-size: 20px;
}

a {
  color: rgb(0, 68, 255);
  font-weight: 500;
  margin: 5px;
  cursor: pointer;
  align-self: baseline;
  margin-left: 5px;
}
.radio select {
  width: 300px;
  border-radius: 15px;
  border: white;
  box-shadow: 0 0 6px rgb(166, 159, 255);
  height: 2.1em;
}

.select {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
}
.textarea {
  height: 60px;
  width: 300px;
}
.mb-3 textarea.form-control {
  border-radius: 22px;
  border: white;
  box-shadow: 0 0 6px rgb(166, 159, 255);
}

.check label {
  margin-top: 45px;
}

.radio label {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.check input {
  margin-top: 49px;
  border-radius: 22px;
  border: white;
  box-shadow: 0 0 6px rgb(166, 159, 255);
}

.btn-r {
  background-color: rgb(166, 159, 255);
  padding: 0.6rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 3rem;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 5px;
  margin-right: 10px;
}

@media (max-width: 407px) {
  .reg {
    align-items: center;
    justify-content: center;
    max-width: 100vh;
    min-height: 100vh;
    font-size: 15px;
    display: flex;
    flex-direction: column;
  }

  .registerContainer {
    align-items: center;
    justify-content: center;
    min-width: 20vh;
    min-height: 50vh;
    font-size: 15px;
    width: 1400px;
  }

  .input-container1 {
    justify-content: center;
    font-size: 15px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .input-container1 input {
    padding: 5px;
    width: 10em;
  }

  .pincontainer {
    justify-content: center;
    font-size: 15px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .pincontainer input {
    padding: 5px;
    width: 10em;
  }

  .pincontainer label {
    margin-top: 100px;
  }

  a {
    justify-content: center;
    font-weight: 400;
    align-self: center;
    margin-left: 30px;
  }

  .btn-r {
    align-self: revert;
  }

  .radio select {
    justify-content: center;
    font-size: 15px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
  }

  .select {
    width: 100px;
    flex-direction: column;
    justify-content: center;
  }

  .mb-3 textarea.form-control {
    width: 150px;
  }
  .textarea {
    width: 150px;
    height: 30px;
  }

  .check label {
    margin-top: 105px;
  }

  .check input {
    margin-top: 110px;
  }
  p {
    width: 150px;
    height: 48px;
  }
  .input-container1 input[type="date"] {
    width: 10em;
  }
}

@media (max-width: 701px) {
  .registerContainer {
    margin-right: 10px;
  }
}
